.App {
  text-align: center;
}

.Uploader-container {
  margin: 30px;
}

.Button {
  color: white;
  width: 200px;
  border: none;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
}

.Primary-button {
  background-color: #2ecc71;
}

.Primary-button :hover {
  background-color: #2ecc90;
}

.Secundary-button {
  background-color: red;
}

.Secundary-button:hover {
  background-color: lightsalmon;
}
