.App {
  text-align: center;
}

.Uploader-container {
  margin: 30px;
}

.Button {
  border-radius: 4px;
  background-color: #2ecc71;
  border: none;
  padding: 20px;
  width: 200px;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  font-size: large;
}

.Button:hover {
  background-color: #2ecc90;
}
